<html>
    <head>
        <title>Add Drink</title>
    </head>
    <body>
        <form action="" method="post">
            {{ form.name }} {{ form.name.label }} 
            {{ form.bottle_size }} {{ form.bottle_size.label }} 
            {{ form.caffeine }} {{ form.caffeine.label }} 
            {{ form.price }} {{ form.price.label }} 
            {{ form.logo_file_name }} {{ form.logo_file_name.label }} 
            {{ form.csrf_token }} {{ form.csrf_token.label }} 
        </form>
    </body>
</html>

