{% extends "layout.html" %}

{% block title %}Who wants to be a Mateonaire?{% endblock %}

{% block styles %}
{{ super() }}
<style>
    .navbar-frauk{
        background-color: {{ user.color }};
    }
</style>
{% endblock %}

{% block content %}
    
    <div class="container">
        <h1>{{ user.username }}, your balance is {{ '{0:0.2f}'.format(user.balance) }} EUR;. Select a Drink to purchase:</h1>
        
        <ul>
        {% for item in items %}
            <a
                class="avatar drink-img"
                href="{{ url_for('buy.make_purchase', uid=user.id, iid=item.id) }}"
                style="background-color:{{ item.color }};color:white;" >
                {{ item.name }} @ {{ '{0:0.2f} EUR'.format(item.price) }}
            </a>
        {% endfor %}
        </ul>

    </div>


{% endblock %}
