{% extends "layout.html" %}

{% block title %}Deposit{% endblock %}

{% block styles %}
{{ super() }}
<style>
    .navbar-frauk{
        background-color: {{ user.color }};
    }
</style>
{% endblock %}

{% block content %}
    
    <div class="container">
        <h1>{{ user.username }}, your balance is {{ '{0:0.2f}'.format(user.balance) }} EUR;. Select an amount of money to deposit:</h1>
        
        <ul>
        {% for money in money %}
            <a
                class="avatar drink-img"
                href="{{ url_for('deposit.make_deposit', uid=user.id, amount=money.amount) }}"
                style="background-color:cyan;color:white;" >
                {{ money.name }}
            </a>
        {% endfor %}
        </ul>

    </div>

{% endblock %}
