{% extends "layout.html" %}
{% block title %}Users{% endblock %}
{% block content %}
    <div class="container">
        <p>
            <a class="btn btn-default" href="{{ url_for("users.add_user") }}">
                <i class="glyphicon glyphicon-plus"></i> Add User
            </a>
        </p>
        <table class="table table-striped table-bordered">
            <tr>
                <th> Name </th>
                <th> Email </th>
                <th> Balance </th>
                <th> Audits </th>
            </tr>
            {% for user in users %}
            <tr>
                <td>
                    <span 
                        style="color:{{ user.color }};"
                        class="glyphicon glyphicon-user"
                        aria-hidden="true">
                    </span>
                    {{ user.username }}
                </td>
                <td> {{ user.email }} </td>
                <td> {{ '{0:0.2f}'.format(user.balance) }} </td>
                <td> 
                    {% if user.audit %}
                        <a class="btn btn-default btn-sm" 
                            href="{{ url_for("audits.get_audits", user=user.id) }}">
                            <i class="glyphicon glyphicon-eye-open"></i> Audit
                        </a>
                    {% else %}
                         - 
                    {% endif %}
                </td>
                <td>
                    <a class="btn btn-default btn-sm" href="{{ url_for("users.edit_user", uid=user.id) }}">
                        <i class="glyphicon glyphicon-pencil"></i> Edit
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

