.list-style-none{
    list-style: none;
}
.drinks-list{
    list-style:none;
    padding-right: 40px;
}
.avatar{
    float: left;
    margin: 2px;
    padding: 10px;
    overflow: hidden;
    font-size: 22pt;
    text-overflow: ellipsis;
}

.drink-img{
    float: left;
    width: 200px;
    height: 200px;
}

.drink-link{
    margin-bottom: 5px;
}
.drink-title{
    margin-left: 10px;
    font-size: 20pt;
}
.drink-price{
    margin-left: 10px;
}

.navbar-frauk{
    background-color: #223b54;
    border-radius: 0;
    
}
.navbar-frauk li a{
    color: white;
}
.navbar-frauk li a:hover{
    background-color: #0b1c2c;
}
.frauk-brand {
    color: white;
}
.frauk-brand:hover {
    color: white;
}
.pagination {
    position: relative;
    top : 30px;
    left: 50%;
    transform: translate(-50%, -50%);
}
