{% extends "layout.html" %}

{% block title %}Who wants to buy a drink?{% endblock %}

{% block content %}
    
    <div class="container">
        <h1>{{ user.username }}, your balance is {{ '{0:0.2f}'.format(user.balance) }} EUR;. Select a Drink to purchase:</h1>
        
        <ul>
        {% for drink in drinks %}
            <a class="list-group-item"
            href="{{ url_for('buy.make_purchase', uid=user.id, did=drink.id) }}"
            style="background-color:{{ drink.color }};color:white;"
            >
               {{ drink.name }} @ {{ '{0:0.2f} EUR'.format(drink.price) }}
            </a>
        {% endfor %}
        </ul>

    </div>


{% endblock %}
