{% extends "layout.html" %}
{% block title %}Who wants to buy a drink?{% endblock %}
{% block content %}
    
    <div class="container">
        <h1>{{ user.username }}, select a Drink to purchase:</h1>
        
        <ul>
        {% for drink in drinks %}

            <li><a href="{{ url_for('buy.make_purchase', uid=user.id, did=drink.id) }}">
                {{ drink.name }} ( {{ '{0:0.2f} EUR'.format(drink.price) }} )
            </a></li>

        {% endfor %}
        </ul>

    </div>


{% endblock %}
