{% extends "layout.html" %}

{% block title %}Who wants to buy a drink?{% endblock %}

{% block content %}
    
<div class="container">
    <h1>Select User for purchase:</h1>
	<ol>
    {% for user in users %}
	    <li class="list-style-none">
            <a href="{{ url_for('buy.select_drink', uid=user.id) }}" 
              class="thumbnail avatar">
                {% if user.logo %}
                    <img src="{{ url_for('static', filename='uploads/' + user.logo) }}">
                {% else %}
                    <img src="{{ url_for('static', filename='uploads/dummy.png') }}">
                {% endif %}
                {{ user.username }}
            </a>
        </li>
    {% endfor %}
	</ol>
</div>

{% endblock %}
